@charset "utf-8";
@import url("main.css");

#singUp {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 400px;
  margin: 50px auto;
  padding: 20px;
}
#singUp fieldset {
  padding: 20px;
  border: 1px solid #e62626;
}
#singUp fieldset legend {
  font-size: 13px;
  padding: 0 10px;
}
#singUp li {
  padding: 10px 0;
}
#singUp fieldset:first-of-type label {
  width: 60px;
  display: inline-block;
  background-color: #e62626;
}
